/** @format */

.main {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  width: 300px;
  border-collapse: collapse;
  border: 1px solid black;
}
